{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Création d'un locataire
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card-default uk-card-default">
				<div class="uk-card-header">
					Créer un locataire
				</div>
				<div class="uk-card-body">

					{{ form_start(form) }}

					<div class="uk-margin">
						{{ form_widget(form.firstname) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(form.lastname) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(form.email) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(form.mobile) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(form.phone) }}
					</div>
					<div class="uk-margin">
						{{ form_widget(form.guarantor) }}
					</div>


					<div class="uk-margin-small uk-card-address-before uk-card-default uk-card-body">
						<a class="uk-text-primary">Indiquez l'adresse précédente du locataire</a>
						<a class="uk-text-danger">(avant son eménagement)</a>
						<div class="uk-margin">
							{{ form_widget(form.addressBefore.street) }}
						</div>

						<div class="uk-margin">
							{{ form_widget(form.addressBefore.postCode) }}
						</div>

						<div class="uk-margin">
							{{ form_widget(form.addressBefore.city) }}
						</div>

						<div class="uk-margin">
							{{ form_widget(form.addressBefore.country) }}
						</div>
					</div>

					<div class="uk-margin-small uk-card-address-after uk-card-default uk-card-body">
						<a class="uk-text-primary">Indiquez l'adresse de départ du locataire</a>
						<a class="uk-text-danger">(après son déménagement)</p>
						<div class="uk-margin">
							{{ form_widget(form.addressAfter.street) }}
						</div>

						<div class="uk-margin">
							{{ form_widget(form.addressAfter.postCode) }}
						</div>

						<div class="uk-margin">
							{{ form_widget(form.addressAfter.city) }}
						</div>

						<div class="uk-margin">
							{{ form_widget(form.addressAfter.country) }}
						</div>
					</div>
					<button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small">Enregistrer</button>
					<a href="{{ path('users_list') }}">

						<button type="button" class="uk-button uk-button-secondary uk-margin-small uk-width-1-1">Annuler</button>

					</a>

					{{ form_end(form) }}


				</div>
			</div>
		</div>
	</div>
{% endblock %}
