{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Connexion
{% endblock %}

{% block body %}
	<div class="content-background">
		<div class="uk-section-large">
			<div class="uk-container uk-container-large">
				<div uk-grid class="uk-child-width-1-1@s uk-child-width-2-3@l">
					<div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
					<div class="uk-width-1-1@s uk-width-3-5@l uk-width-1-3@xl">
						<div class="uk-card uk-card-default">
							<div class="uk-card-header">
								Page de connexion
							</div>
							<div class="uk-card-body">
								<center>
									<h2>Gestion Immobilière</h2><br/>
								</center>

								<form method="POST">
									<fieldset class="uk-fieldset">

										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}

										{% if app.user %}
											<div class="mb-3">
												Vous êtes dejà connecté
												{{ app.user.username }},
												<a href="{{ path('app_logout') }}">Deconnexion</a>
											</div>
										{% endif %}

										<div class="uk-margin">
											<div class="uk-position-relative">
												<span class="uk-form-icon ion-android-person"></span>
												<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="uk-input" autocomplete="email" placeholder="Email" required autofocus>

											</div>
										</div>
										<div class="uk-margin">
											<div class="uk-position-relative">
												<span class="uk-form-icon ion-locked"></span>
												<input type="password" name="password" id="inputPassword" class="uk-input" autocomplete="current-password" placeholder="Mot de passe" required>


											</div>
										</div>
										<div class="uk-margin">
											<a href="#">Mot de passe oublié ?</a>
										</div>

										<input
										type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

										{#
																													    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																													    See https://symfony.com/doc/current/security/remember_me.html
																				    
																													    <div class="checkbox mb-3">
																													    <label>
																													    <input type="checkbox" name="_remember_me"> Remember me
																													    </label>
																													    </div>
																													    #}

										<div class="uk-margin">
											<button type="submit" class="uk-button uk-button-primary">
												<span class="ion-forward"></span>&nbsp; Connection !
											</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1@s uk-width-1-5@l uk-width-1-3@xl"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
