{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Edition d'un logement
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Editer un logement
				</div>
				<div class="uk-card-body">

					{{ form_start(form) }}

					<div class="uk-margin">
						{{ form_row(form.name) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.owner) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.address.street) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.address.city) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.address.postCode) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.address.country) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.sort) }}
					</div>
					<div class="uk-margin">
						{{ form_widget(form.heat) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.nbRoom) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.surface) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.floor) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.landSurface) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.nbLevel) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.attic) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.cellar) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.pool) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.box) }}
					</div>
					<div class="uk-margin">
						{{ form_row(form.elevator) }}
					</div>

					<button type="submit" class="uk-button uk-button-valid uk-width-1-1 uk-margin-small-bottom">Enregistrer</button>

					<a href="{{ path('housing_list') }}">
						<button type="button" class="uk-button uk-button-secondary uk-width-1-1">Annuler</button>
					</a>

					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
