{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Liste des logements
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Liste de mes logements
					<a href="{{ path('housing_create') }}">
						<button type="button" class="uk-button uk-button-create uk-animation-scale-down uk-button-small uk-align-right@m">Créer un logement</button>
					</a>
				</div>
				<div class="uk-card-body">
					{% if housings is empty %}
						<div class="uk-placeholder uk-text-center ">
							<h5>Aucun logement à afficher</h5>
							<p>Il semblerait qu'il n'y ait pas de logements correspondant à votre recherche.</p>
						</div>
					{% else %}
						<table class="uk-table uk-table-responsive uk-table-divider">

							<thead>
								<tr>
									<th>Nom</th>
									<th>Ville</th>
									<th>Pièces</th>
									<th>Surface</th>
									<th>Type</th>
									<th>Propriétaire</th>
									<th>Detail</th>
								</tr>
							</thead>
							<tbody>
								{% for housing in housings %}
									<tr>
										<td>{{ housing.name }}</td>
										<td>{{ housing.address.city }}</td>
										<td>{{ housing.nbRoom }}</td>
										<td>{{ housing.surface }}
											m²</td>
										<td>{{ housing.sort.name }}</td>
										<td>{{ housing.owner.fullname }}</td>
										<td>
											<a href="{{ path('housing_detail', {'id' : housing.id}) }}">
												<button class="uk-button uk-button-small uk-button-detail uk-animation-slide-right">Détail</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
