{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Tout les comptes
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Liste des types de logements
					<a href="{{ path('sort_create') }}">
						<button type="button" class="uk-button uk-button-create uk-animation-scale-down uk-button-small uk-align-right@m">Créer un type de logement</button>
					</a>
				</div>
				<div class="uk-card-body">
					{% if sorts is empty %}
						<div class="uk-placeholder uk-text-center ">
							<h5>Aucun type à afficher</h5>
							<p>Il semblerait qu'il n'y ait pas de type correspondant à votre recherche.</p>
						</div>
					{% else %}

						<table class="uk-table uk-table-responsive uk-table-divider">
							<thead>
								<tr>
									<th>Nom du type</th>
									<th>Modifier</th>
									<th>Supprimer</th>
								</tr>
							</thead>
							<tbody>
								{% for sort in sorts %}
									<tr>
										<td>{{ sort.name }}</td>
										<td>
											<a href="{{ path('sort_edit', {'id' : sort.id}) }}">
												<button class="uk-button uk-button-small uk-button-modify uk-animation-slide-right">Modifier</button>
											</a>
										</td>
										<td>
											<a class="uk-button uk-button-small uk-button-danger" uk-toggle="target: #modal-sections">Supprimer</a>
										</td>
									</tr>
									<div id="modal-sections" uk-modal>
										<div class="uk-modal-dialog">
											<button class="uk-modal-close-default" type="button" uk-close></button>
											<div class="uk-modal-header">
												<h2 class="uk-modal-title">Suppression d'un type de logement</h2>
											</div>
											<div class="uk-modal-body">
												<p>Êtes-vous certain de vouloir ce type de logement ?</p>
											</div>
											<div class="uk-modal-footer uk-text-right">
												<a href="{{ path('sort_delete', {'id' : sort.id}) }}">
													<button class="uk-button uk-button-danger" type="button">Supprimer</button>
												</a>
												<button class="uk-button uk-button-primary uk-modal-close" type="button">Annuler</button>

											</div>
										</div>
									</div>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
