<div class="uk-card uk-card-default uk-animation-fade">
	<div class="uk-card-header">
		Liste des garants
		<a href="{{ path('create_guarantor') }}">
			<button type="button" class="uk-button uk-button-create uk-animation-scale-down uk-button-small uk-align-right@m">Créer un compte garant</button>
		</a>
	</div>
	<div class="uk-card-body">
		{% if guarantors is empty %}
			<div class="uk-placeholder uk-text-center ">
				<h5>Aucun utilisateur à afficher</h5>
				<p>Il semblerait qu'il n'y ait pas d'utilisateur correspondant à votre recherche.</p>
			</div>
		{% else %}

			<table class="uk-table uk-table-responsive uk-table-divider">
				<thead>
					<tr>
						<th>Prénom Nom</th>
						<th>Mobile</th>
						<th>Email</th>
						<th>Role</th>
						<th>Detail</th>
					</tr>
				</thead>
				<tbody>
					{% for user in guarantors %}
						<tr>
							<td>{{ user.fullname }}</td>
							<td>{{ user.mobile }}</td>
							<td>{{ user.email }}</td>
							<td>Garant</td>

							<td>
								{% if user.roles[0] != 'ROLE_ADMIN' %}
									<a href="{{ path('user_detail', {'id' : user.id}) }}">
										<button type="button" class="uk-button uk-button-small uk-button-detail uk-width-1-1 uk-margin uk-animation-slide-right">Detail</button>
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
</div>
