{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Détail d'un contrat
{% endblock %}

{% block body %}

	<p uk-margin>
		<a href="{{ path('contract_list') }}">
			<button class="uk-button uk-button-default uk-button-small">Retour à la liste des contrats</button>
		</a>
	</p>

	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Detail d'un contrat
				</div>
				<div class="uk-card-body">
					<dl class="uk-description-list uk-column-1-2@s">

						<dt>Nom</dt>
						<dd>{{ contract.name }}</dd>

						<dt>Logement associé</dt>
						<dd>
							<a href="{{ path('housing_detail', {'id' : contract.housing.id}) }}">
								{{ contract.housing.name }}</a>
						</dd>

						<dt>Propriétaire</dt>
						<dd>
							<a href="{{ path('user_detail', {'id' : contract.housing.owner.id }) }}">
								{{ contract.housing.owner.fullname }}</a>
						</dd>

						<dt>Locataire(s)</dt>
						<dd>
							<ul>
								{% for tenant in contract.tenants %}
									<li>
										<a href="{{ path('user_detail', {'id' : tenant.id}) }}">
											{{ tenant.fullname }}</a>
									</li>
								{% endfor %}
							</dd>
						</dd>

						<dt>Garant</dt>
						<dd>
							<ul>

								{% for tenant in  contract.tenants %}
									<li>
										{% if (tenant.guarantor is null) %}
											Pour
											<a href="{{ path('user_detail', {'id' : tenant.id }) }}">{{ tenant.fullname}}</a>
											-> Pas de garant désigné
										{% else %}
											Pour
											<a href="{{ path('user_detail', {'id' : tenant.id }) }}">{{ tenant.fullname}}</a>
											-> garant :
											<a href="{{ path('user_detail', {'id' : tenant.guarantor.id }) }}">{{ tenant.guarantor.fullname }}</a>
										{% endif %}
									</li>
								{% endfor %}
								<ul></dd>


								<dt>Date de début du contrat</dt>
								<dd>{{ contract.startDate | date('d/m/Y', 'Europe/Paris') }}</dd>

								<dt>Date de fin du contrat</dt>
								<dd>
									{% if (contract.endDate is null) %}
										Aucune date de fin précisée
									{% else %}
										{{ contract.endDate | date('d/m/Y', 'Europe/Paris') }}
									{% endif %}
								</dd>

								<dt>Loyer Hors Charges</dt>
								<dd>{{ contract.rent }}
									€</dd>

								<dt>Charges</dt>
								<dd>{{ contract.rentLoad }}
									€</dd>

								<dt>Equipement(s)</dt>
								<dd>
									<ul>
										{% for equipment in contract.equipments %}
											<li>
												<a href="{{ path('equipment_detail', {'id' : equipment.id}) }}">{{ equipment.name }}</a>

												-
												{{ equipment.brandt }}
												-
												{{ equipment.serialNumber }}
											</li>
										{% endfor %}
									</ul>
								</dd>
							</dd>
						</dd>
					</dl>
					<a href="{{ path('contract_edit', {'id' : contract.id }) }}">
						<button type="button" class="uk-button uk-button-primary uk-width-1-1 uk-margin">Modifier</button>
					</a>
					<a class="uk-button uk-button-danger uk-width-1-1 uk-toggle" uk-toggle="target: #modal-sections">Supprimer</a>


					<div id="modal-sections" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-default" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Suppression d'un contrat de bail</h2>
							</div>
							<div class="uk-modal-body">
								<p>Êtes-vous certain de vouloir supprimer ce contrat ?</p>
							</div>
							<div class="uk-modal-footer uk-text-right">
								<a href="{{ path('contract_delete', {'id' : contract.id}) }}">
									<button class="uk-button uk-button-danger" type="button">Supprimer</button>
								</a>
								<button class="uk-button uk-button-primary uk-modal-close" type="button">Annuler</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
