{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| liste des contrats
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Liste de tout vos contrats
					<a href="{{ path('contract_create') }}">
						<button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right@m">Créer un contrat</button>
					</a>
				</div>
				<div class="uk-card-body">
					{% if contracts is empty %}
						<div class="uk-placeholder uk-text-center ">
							<h5>Aucun contrat à afficher</h5>
							<p>Il semblerait qu'il n'y ait pas encore de contrat crée.</p>
						</div>
					{% else %}

						<table class="uk-table uk-table-striped">
							<thead>
								<tr>
									<th>Nom du contrat</th>
									<th>Propriétaire</th>
									<th>Locataire</th>
									<th>Début du contrat</th>
									<th>Nom du logement</th>
									<th>Detail</th>
								</tr>
							</thead>
							<tbody>
								{% for contract in contracts %}
									<tr>
										<td>{{ contract.name }}</td>
										<td>{{ contract.housing.owner.fullname }}</td>
										<td>
											{% for tenant in contract.tenants %}
												{{ tenant.fullname }},
											{% endfor %}
										</td>
										<td>{{ contract.startDate | date('d/m/Y', 'Europe/Paris') }}</td>
										<td>{{ contract.housing.name }}</td>
										<td>
											<a href="{{ path('contract_admin_detail', {'id' : contract.id}) }}">Détail</td>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
