{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Système de chauffage

{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Modifier un système de chauffage
				</div>
				<div class="uk-card-body">

					{{ form_start(form) }}

					<div class="uk-margin">
						{{ form_widget(form.name) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(form.facilitie) }}

					</div>

					<button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Enregistrer</button>
					<a href="{{ path('heat_list') }}">
						<button type="button" class="uk-button uk-button-secondary uk-width-1-1">Annuler</button>
					</a>

					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>

{% endblock %}
