{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| liste d'équipements
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Liste de tout vos systèmes de chauffage
					<a href="{{ path('equipment_create') }}">
						<button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right@m">Créer système de chauffage</button>
					</a>
				</div>
				<div class="uk-card-body">
					{% if heats is empty %}
						<div class="uk-placeholder uk-text-center ">
							<h5>Aucun système de chauffage à afficher</h5>
							<p>Il semblerait qu'il n'y ait pas de système de chauffage correspondant à votre recherche.</p>

						</div>
					{% else %}

						<table class="uk-table uk-table-responsive uk-table-divider">

							<thead>
								<tr>
									<th>Nom</th>
									<th>Appareillage</th>
									<th>Detail</th>
								</tr>
							</thead>
							<tbody>
								{% for heat in heats %}
									<td>{{ heat.name }}</td>
									<td>{{ heat.facilitie }}</td>

									<td>
										<a href="{{ path('heat_detail', {'id' : heat.id}) }}">
											<button class="uk-button uk-button-primary uk-button-small">Détail</button>
										</td>

									</td>
								</tbody>
							</tbody>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}
