{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Création d'un locataire
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Créer un locataire
				</div>
				<div class="uk-card-body">

					{{ form_start(tenantForm) }}

					<div class="uk-margin">
						{{ form_widget(tenantForm.firstname) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(tenantForm.lastname) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(tenantForm.email) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(tenantForm.mobile) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(tenantForm.phone) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(tenantForm.address.street) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(tenantForm.address.postCode) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(tenantForm.address.city) }}
					</div>

					<div class="uk-margin">
						{{ form_widget(tenantForm.address.country) }}
					</div>


					<button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Enregistrer</button>
					<a href="{{ path('dashboard') }}">
						<button type="button" class="uk-button uk-button-secondary uk-width-1-1">Annuler</button>
					</a>

					{{ form_end(tenantForm) }}


				</div>
			</div>
		</div>
	</div>
{% endblock %}
