{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Détail d'un compte
{% endblock %}

{% block body %}

	<p uk-margin>
		<a href="{{ path('users_list') }}">
			<button class="uk-button uk-button-default uk-button-small">
				<span class="uk-margin-small-right" uk-icon="icon :chevron-double-left; ratio: 1"></span>Retour à la liste des comptes</button>
		</a>
	</p>

	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Detail du compte de
					{{ user.firstname}}
					{{ user.lastname }}
				</div>
				<div class="uk-card-body">
					<dl class="uk-description-list uk-column-1-2@s">


						<dt>Prénom</dt>
						<dd>{{ user.firstname }}</dd>

						<dt>Nom</dt>
						<dd>{{ user.lastname }}</dd>

						<dt>Email</dt>
						<dd>{{ user.email }}</dd>

						<dt>Téléphone fixe</dt>
						<dd>
							{% if user.phone == null %}
								non renseigné
							{% else %}
								{{ user.phone }}
							{% endif %}
						</dd>

						<dt>Téléphone mobile</dt>
						<dd>{{user.mobile }}</dd>

						{% if user.roles[0] != 'ROLE_ADMIN' and user.roles[0] != 'ROLE_TENANT' %}
							<dt>Addresse</dt>
							<dd>{{user.address.street }}</dd>
							<dd>{{user.address.postCode }}
								{{user.address.city }}</dd>
							<dd>{{user.address.country }}</dd>

						{% elseif user.roles[0] == 'ROLE_TENANT' %}
							{% if user.contracts != null %}
								{% for contract in user.contracts %}
									<dt>Addresse Actuelle (contrat de bail)</dt>
									<dd>{{contract.housing.address.street }}</dd>
									<dd>{{contract.housing.address.postCode }}
										{{contract.housing.address.city }}</dd>
									<dd>{{contract.housing.address.country }}</dd>
								{% endfor %}
							{% endif %}

							<dt>Addresse Precedente (avant emménagement)</dt>
							<dd>{{user.addressBefore.street }}</dd>
							<dd>{{user.addressBefore.postCode }}
								{{user.addressBefore.city }}</dd>
							<dd>{{user.addressBefore.country }}</dd>

							{% if user.addressAfter != null %}
								<dt>Addresse de départ (après déménagement)</dt>
								<dd>{{user.addressAfter.street }}</dd>
								<dd>{{user.addressAfter.postCode }}
									{{user.addressAfter.city }}</dd>
								<dd>{{user.addressAfter.country }}</dd>

							{% endif %}
						{% endif %}
						<dt>Type de compte</dt>
						<dd>
							{% if user.roles[0] == 'ROLE_ADMIN' %}
								Administrateur
							{% elseif user.roles[0] == 'ROLE_OWNER' %}
								Propriétaire
							{% elseif user.roles[0] == 'ROLE_TENANT' %}
								Locataire
							{% elseif user.roles[0] == 'ROLE_GUARANTOR' %}
								Garant
							{% endif %}
						</dd>
						{% if user.roles[0] == 'ROLE_GUARANTOR' %}
							<dt>Locataire(s) lié au garant</dt>
							{% if user.tenants != null %}
								{% for tenant in user.tenants %}
									<dd>
										<ul>
											<li><a href="{{path('user_detail',{'id':tenant.id})}}">{{ tenant.fullname }}</a></li>
										</ul>
									</dd>
								{% endfor %}
							{% endif %}
						{% endif %}

						{% if user.roles[0] == 'ROLE_TENANT' %}
							{% if user.guarantor != null %}
								<dt>Garant du locataire</dt>
								<dd>
									<a href="{{path('user_detail',{'id':user.guarantor.id}) }}">{{ user.guarantor.fullname }}</a>
								</dd>
							{% endif %}
							{% if user.contracts != null %}
								<dt>Contrat(s) du locataire</dt>
								{% for contract in user.contracts %}
									<dd>
										<ul>
											<li><a href="{{path('contract_detail',{'id':contract.id})}}">{{ contract.name }}</a></li>
										</ul>
									</dd>
								{% endfor %}
							{% endif %}
						{% endif %}

					</dl>

					{% if app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] == 'ROLE_OWNER' %}
						<a href="{{ path('user_edit', {'id' : user.id}) }}">
							<button type="button" class="uk-button uk-button-primary uk-width-1-1 uk-margin">Modifier</button>
						</a>
						{% if user.roles[0] != "ROLE_ADMIN" %}
							<a class="uk-button uk-button-danger uk-width-1-1 uk-toggle" uk-toggle="target: #modal-sections">Supprimer</a>
						{% endif %}



						<div id="modal-sections" uk-modal>
							<div class="uk-modal-dialog">
								<button class="uk-modal-close-default" type="button" uk-close></button>
								<div class="uk-modal-header">
									<h2 class="uk-modal-title">Suppression d'un compte</h2>
								</div>
								<div class="uk-modal-body">
									<p>Êtes-vous certain de vouloir supprimer ce compte ?</p>
									<p>Verifiez que ce dernier n'est relié à aucun contrat en cours, ou à un logement</p>
									<p>Cette suppression sera définitive !</p>
								</div>
								<div class="uk-modal-footer uk-text-right">
									<a href="{{ path('user_delete', {'id' : user.id}) }}">
										<button class="uk-button uk-button-danger" type="button">Supprimer</button>
									</a>
									<button class="uk-button uk-button-primary uk-modal-close" type="button">Annuler</button>

								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
