{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<div class="content-padder content-background">
		<div class="uk-section-small">
			<div class="uk-container uk-container-large">
				<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
					<div class="uk-first-column">
						<div class="uk-card uk-card-default">
							<div class="uk-card-header">
								Detail du compte de {{ user.firstname}} {{ user.lastname }}
							</div>
							<div class="uk-card-body">

								<dl class="uk-description-list">
									<dt>Prénom</dt>
									<dd>{{ user.firstname }}</dd>

									<dt>Nom</dt>
									<dd>{{ user.lastname }}</dd>
									
									<dt>Email</dt>
									<dd>{{ user.email }}</dd>

									<dt>Téléphone fixe :</dt>
									<dd>
										{% if user.phone == null %}
											non renseigné
										{% else %}
											{{ user.phone }}
										{% endif %}
									</dd>

									<dt>Téléphone mobile :</dt>
									<dd>{{user.mobile }}</dd>

									<dt>Addresse</dt>
									<dd>{{user.address.street }}</dd>
									<dd>{{user.address.postCode }} {{user.address.city }}</dd>
									<dd>{{user.address.state }}</dd>

									<dt>Type de compte</dt>
									<dd>
										{% if user.roles[0] == 'ROLE_ADMIN' %}
											Administrateur
										{% elseif user.roles[0] == 'ROLE_OWNER' %}
											Propriétaire
										{% elseif user.roles[0] == 'ROLE_TENANT' %}
											Locataire
										{% elseif user.roles[0] == 'ROLE_GUARANTY' %}
											Caution solidaire
										{% endif %}
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
